# Read data

Mark Klik & Misja Mikkers

# Introduction

This course is about working with data. Often your data will be stored in _Excel_ files (with the extension _xls_ or _xlsx_) or in _csv_ (comma separated values) files (with extension _csv_). Note that _csv_ files can also be opened in _Excel_.

In this course we will teach you how to import data from _Excel_ and _csv_ files. However, in general, `R` can be used to open virtually any type of data file (e.g. _SPSS_ and _Stata_). Please use Google if you need to import data from other sources.

## Packages

In [1]:
library(tidyverse)
library(readxl)

Warning message:
"package 'tidyverse' was built under R version 3.3.3"-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 2.2.1     v purrr   0.2.4
v tibble  1.3.4     v dplyr   0.7.4
v tidyr   0.7.2     v stringr 1.2.0
v readr   1.1.1     v forcats 0.2.0
Warning message:
"package 'ggplot2' was built under R version 3.3.3"Warning message:
"package 'tibble' was built under R version 3.3.3"Warning message:
"package 'tidyr' was built under R version 3.3.3"Warning message:
"package 'readr' was built under R version 3.3.3"Warning message:
"package 'purrr' was built under R version 3.3.3"Warning message:
"package 'dplyr' was built under R version 3.3.3"Warning message:
"package 'forcats' was built under R version 3.3.3"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Warning message:
"package 'readxl' was built under R version 3.3.3"

# Basic directory structure

It's very usefull to create a directory structure for your project with one folder with the name _Code_ (in which you will save your notebook), one folder with the name _Sourcedata_ (where we will save all the source data) and a folder named _Output_ (where we will save any output that we want to save).

![Directory Structure](ds.png)

In the following examples we assume that you have structured your directory structure as indicated.

# Read csv files

## Read and specify the path

We will start with reading the contents of the _csv_ file _football.csv_. This file contains data on the ranking of Dutch football teams in 2015 and 2016.

We will use the command `your_dataframe <- read.csv2("file_name.csv")`.

_yourdataframe_ is the name that you give to the dataframe. In this example we will call the dataframe _football_.

However, this only works if the data file is located in the same folder as the notebook. In this case we have saved our data in the folder _Sourcedata_ and the code in the folder _Code_. Therefore, we need to tell `R` where to find the datafile. 

We can include the path in parameter _file_name_. In this example we tell `R` to go 1 folder up ('..') and then go to the correct folder _Sourcedata_:

In [2]:
football <- read.csv2("../Sourcedata/football.csv")

## Inspect the dataframe

We now have read the data. There are a few ways to inspect the data.
If we want to see the complete dataframe we can just type the name and hit enter:

In [3]:
football

   Club          Points Budget
1  ADO           43     13
2  Ajax          82     65
3  AZ            59     28
4  Cambuur       18      7
5  De Graafschap 23      7
6  Excelsior     30      5
7  Feyenoord     63     50
8  Groningen     50     22
9  Heereveen     42     22
10 Heracles      51     10
11 NEC           46     11
12 PEC           48      9
13 PSV           84     63
14 Roda          34     10
15 Twente        40     36
16 Utrecht       53     17
17 Vitesse       46     28
18 Willem II     29      9

This may not be very practical if you have very large dataframes. With the command `head(name_dataframe)`, you can see the first rows of the dataframe,

In [4]:
head(football)

  Club          Points Budget
1 ADO           43     13
2 Ajax          82     65
3 AZ            59     28
4 Cambuur       18      7
5 De Graafschap 23      7
6 Excelsior     30      5

while with `tail(name_dataframe)` you can see the last rows:

In [5]:
tail(football)

   Club      Points Budget
13 PSV       84     63
14 Roda      34     10
15 Twente    40     36
16 Utrecht   53     17
17 Vitesse   46     28
18 Willem II 29      9

With the command `summary(name_dataframe)`, you will get a summary of your dataset:

In [5]:
summary(football)

            Club        Points          Budget
 ADO          : 1   Min.   :18.00   Min.   : 5.00
 Ajax         : 1   1st Qu.:35.50   1st Qu.: 9.25
 AZ           : 1   Median :46.00   Median :15.00
 Cambuur      : 1   Mean   :46.72   Mean   :22.89
 De Graafschap: 1   3rd Qu.:52.50   3rd Qu.:28.00
 Excelsior    : 1   Max.   :84.00   Max.   :65.00
 (Other)      :12


### Common issue

We will now read another dataset containing information about the Dutch football league. For your convenience, we have downloaded the data and stored it in a _csv_ with the name _N1.csv_.

In [6]:
football1 <- read.csv2("../Sourcedata/N1.csv")

If we have a look at the data, we see the following

In [7]:
head(football1)

  Div.Date.HomeTeam.AwayTeam.FTHG.FTAG.FTR.HTHG.HTAG.HTR.B365H.B365D.B365A.BWH.BWD.BWA.IWH.IWD.IWA.LBH.LBD.LBA.PSH.PSD.PSA.WHH.WHD.WHA.VCH.VCD.VCA.Bb1X2.BbMxH.BbAvH.BbMxD.BbAvD.BbMxA.BbAvA.BbOU.BbMx.2.5.BbAv.2.5.BbMx.2.5.BbAv.2.5.BbAH.BbAHh.BbMxAHH.BbAvAHH.BbMxAHA.BbAvAHA.PSCH.PSCD.PSCA
1 N1,11/08/17,Den Haag,Utrecht,0,3,A,0,1,A,3.6,3.4,2.05,3.9,3.6,1.95,3.3,3.3,2,3.6,3.2,2.1,3.84,3.62,2.05,3.5,3.4,2,3.8,3.5,2,40,3.9,3.62,3.62,3.43,2.14,2.02,36,2.03,1.96,1.94,1.84,17,0.5,1.88,1.84,2.07,2.02,3.95,3.57,2.03
2 N1,12/08/17,Heracles,Ajax,2,1,H,0,0,D,7,4.33,1.44,7.25,4.75,1.42,7,4.5,1.4,7,4.33,1.4,7.57,5.14,1.43,6.5,4.33,1.44,7.5,4.75,1.4,41,8.22,7.16,5.14,4.59,1.46,1.41,34,1.68,1.64,2.32,2.18,17,1.25,2,1.94,1.96,1.91,9.72,6.18,1.32
3 N1,12/08/17,PSV Eindhoven,AZ Alkmaar,3,2,H,1,1,D,1.4,4.75,7,1.44,4.6,7.25,1.3,5,8.5,1.44,4.6,7.5,1.45,5.27,6.85,1.35,4.8,7.5,1.4,5,7,41,1.45,1.41,5.5,4.82,8.5,6.7,33,1.5,1.45,2.8,2.64,17,-1.25,1.98,1.92,1.96,1.93,1.47,5.1,6.64
4 N1,12/08/17,Vitesse,NAC Breda,4,1,H,3,0,H,1.53,4.2,5.75,1.55,4.25,5.75,1.5,4.2,5.5,1.53,4,5.5,1.56,4.53,6.03,1.53,4,5.5,1.53,4.3,6,41,1.57,1.54,4.53,4.19,6.03,5.54,34,1.69,1.61,2.35,2.23,18,-1,1.98,1.92,2,1.93,1.47,4.82,7.33
5 N1,12/08/17,VVV Venlo,Sparta Rotterdam,3,0,H,1,0,H,2.25,3.3,3.2,2.1,3.5,3.5,2.2,3.4,2.95,2.1,3.25,3.3,2.17,3.49,3.6,2.15,3.3,3.2,2.1,3.5,3.5,41,2.25,2.14,3.5,3.35,3.6,3.33,40,1.99,1.9,1.97,1.87,18,-0.25,1.86,1.83,2.08,2.03,2.1,3.52,3.78
6 N1,13/08/17,Feyenoord,Twente,2,1,H,1,1,D,1.25,5.5,12,1.26,5.75,12,1.25,5.5,10,1.22,5.75,13,1.25,6.7,13.2,1.22,6,11,1.22,6.25,13,39,1.26,1.23,6.7,6.02,14.3,11.3,31,1.55,1.51,2.63,2.47,17,-1.75,1.92,1.88,2.01,1.97,1.24,6.7,13.99

All the data are imported into a single column!

The extension _csv_ is an abbrevation of _Comma Separated Value_. When this format was developed, observations were separated by 'comma's'. In some countries, e.g. the Netherlands, values are commonly separated by ";".  `read.csv2` assumes that the values are separated by ';', so for most cases, it's more convenient to use. If you read a file where values are separated with ',', the command `read.csv2` does not recognize this. There are several ways to solve this issue. The most practical way is to specify the separator manually. In the case of the file _N1_,  a comma is used to separate the values:

In [8]:
football2 <- read.csv2("../Sourcedata/N1.csv", sep = ",")
head(football2)

  Div Date     HomeTeam      AwayTeam         FTHG FTAG FTR HTHG HTAG HTR ...
1 N1  11/08/17 Den Haag      Utrecht          0    3    A   0    1    A   ...
2 N1  12/08/17 Heracles      Ajax             2    1    H   0    0    D   ...
3 N1  12/08/17 PSV Eindhoven AZ Alkmaar       3    2    H   1    1    D   ...
4 N1  12/08/17 Vitesse       NAC Breda        4    1    H   3    0    H   ...
5 N1  12/08/17 VVV Venlo     Sparta Rotterdam 3    0    H   1    0    H   ...
6 N1  13/08/17 Feyenoord     Twente           2    1    H   1    1    D   ...
  BbAv.2.5.1 BbAH BbAHh BbMxAHH BbAvAHH BbMxAHA BbAvAHA PSCH PSCD PSCA
1 1.84       17   0.5   1.88    1.84    2.07    2.02    3.95 3.57 2.03
2 2.18       17   1.25  2       1.94    1.96    1.91    9.72 6.18 1.32
3 2.64       17   -1.25 1.98    1.92    1.96    1.93    1.47 5.1  6.64
4 2.23       18   -1    1.98    1.92    2       1.93    1.47 4.82 7.33
5 1.87       18   -0.25 1.86    1.83    2.08    2.03    2.1  3.52 3.78
6 2.47       17   -1.75 1.92    1.88    2.01    1.97    1.24 6.7  13.99

# Read Excel files

## Read Excel files

Often you will get your data in the form of an _Excel_ sheet. There are several packages available to read _Excel_ files in `R`. For this course, we will use the package `readxl`.

We will use the same data as above, only in a different format.
We have loaded the package `readxl` at the top of this notebook. using that package, the `Excel` sheet can be loaded by using:

In [10]:
football_points <-read_xlsx("../Sourcedata/football.xlsx")
head(football_points)

  Eredivisie 2015/2016 X__1
1 NA                   NA
2 NA                   NA
3 Club                 Points
4 PSV                  84
5 Ajax                 82
6 Feyenoord            63

Looking at the data, we see that the _Excel_ sheet is read in to a dataframe including empty rows and a name that is not necessary. We can repair this using the package `dplyr` (which we will use later in the course), but we can also use the command `skip()`. In this case we do not want to read the first 3 rows into our dataframe.

In [11]:
football_points1 <-read_xlsx("../Sourcedata/football.xlsx", skip = 3)
head(football_points1)

  Club      Points
1 PSV       84
2 Ajax      82
3 Feyenoord 63
4 AZ        59
5 Utrecht   53
6 Heracles  51

## Read separate sheets

If you have opened the _Excel_ sheet, you might have noticed that it has two worksheets. We only read the first sheet, but we can also read the second worksheet:

In [12]:
football_budget <-read_xlsx("../Sourcedata/football.xlsx", sheet = "Budgets", skip = 3)
head(football_budget)

  Club      Budget
1 PSV       63
2 Ajax      65
3 Feyenoord 50
4 AZ        28
5 Utrecht   17
6 Heracles  10

Note: instead of `sheet = "Budgets"`, we could have used `sheet = 2`

In [13]:
football_budget1 <-read_xlsx("../Sourcedata/football.xlsx", sheet = 2, skip = 3)
head(football_budget1)

  Club      Budget
1 PSV       63
2 Ajax      65
3 Feyenoord 50
4 AZ        28
5 Utrecht   17
6 Heracles  10

Later today, we will show you how to merge the two data frames.

# Writing data

It is possible to write a dataframe as a _csv_ file by using the command `write.csv2()`. This is not often needed, because all the data editing is reproducible within the script. But sometimes you may want to write your dataframe as a _csv_ file and you can do that with:

In [14]:
write.csv2(football, file = "../Output/Myfootballdata.csv")

Note that we write the file to the _Output_ directory as previously recommended.

# The structure of the dataset

In `R`, there are only a few common types of data:

* `character` (strings)
* `numeric` (real numbers)
* `integer` (integer numbers)
* `complex` (complexe numbers, e.g. 2+3i, not often used)
* `logical` (binary `TRUE` / `FALSE` and `NA`)
* `factors` (categorical data: e.g. _male_, _female_)

And with the command `str(name_dataframe)` you will get the structure of your dataframe

In [15]:
str(football)

'data.frame':	18 obs. of  3 variables:
 $ Club  : Factor w/ 18 levels "ADO","Ajax","AZ",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Points: int  43 82 59 18 23 30 63 50 42 51 ...
 $ Budget: int  13 65 28 7 7 5 50 22 22 10 ...

In this example we see that the variable "Club" is a factor and the variables "Points" and "Budgets" are integers.


## Change the structure of your dataframe

We can change the nature of the variables in several ways. Here we will show you a simple way (later we learn how to do this using the package `dplyr` (which is part of the larger package `tidyverse`)).

Suppose you want to change the variable _Club_ in to a string of characters and

In [17]:
football$Club <- as.character(football$Club)

change the variable _Points_ into a new variable "Points_numeric" which is a numeric vector:

In [19]:
football$Points_numeric <- as.numeric(football$Points)

We can now check we our commands worked:

In [17]:
str(football)

'data.frame':	18 obs. of  4 variables:
 $ Club          : chr  "ADO" "Ajax" "AZ" "Cambuur" ...
 $ Points        : int  43 82 59 18 23 30 63 50 42 51 ...
 $ Budget        : int  13 65 28 7 7 5 50 22 22 10 ...
 $ Points_numeric: num  43 82 59 18 23 30 63 50 42 51 ...

You can now change the structure of all variables. There is one **Warning**:

### Change factors into numerics

You cannot change a vector of "factors" directly into a vector of "numerics", because "factors" are levels. 
As an illustration we create a vector called "variable_factor" with levels 3 and 4.

In [18]:
variable_factor <- as.factor(c(3,3,3,3,3,4,4,4))

To check if our commands were succesfull:

In [20]:
str(football)

'data.frame':	18 obs. of  4 variables:
 $ Club          : chr  "ADO" "Ajax" "AZ" "Cambuur" ...
 $ Points        : int  43 82 59 18 23 30 63 50 42 51 ...
 $ Budget        : int  13 65 28 7 7 5 50 22 22 10 ...
 $ Points_numeric: num  43 82 59 18 23 30 63 50 42 51 ...

You can now change the structure of all variables. There is one **Warning** however:

### Change factors into numerics

You cannot change a vector of `factors` directly into a vector of `numerics`, because `factors` internally use levels.  As an illustration we create a vector called _variable_factor_ with levels 3 and 4.

In [21]:
variable_factor <- as.factor(c(3,3,3,3,3,4,4,4))

We can check the structure by the command `str()`

In [22]:
str(variable_factor)

 Factor w/ 2 levels "3","4": 1 1 1 1 1 2 2 2

We will now directly change this factor in to a numerical vector ("variable_nume") and see what happens:

In [23]:
variable_numeric_wrong <- as.numeric(variable_factor)
variable_numeric_wrong

[1] 1 1 1 1 1 2 2 2

R returns a vector of 1's and 2's, because a vector of factor is not a vector of numbers, but a vector with _levels_. To do this correctly we need to change the factor into a _character_ vector first and then into a _numeric_ vector:

In [24]:
variable_numeric <- as.numeric(as.character(variable_factor))
variable_numeric

[1] 3 3 3 3 3 4 4 4

End of notebook